version: 2.1

jobs:
  build:
    docker:
      - image: brightbits/ci:latest
        auth:
          username: brightbits
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run: echo "this is the build job"

  test:
    docker:
      - image: brightbits/ci:latest
        auth:
          username: brightbits
          password: $DOCKERHUB_PASSWORD

    steps:
      - checkout
      - run: echo "this is the test job"

workflows:
  build_and_test:
    jobs:
      - build
      - test
